.primeiro 
{
    background-color: magenta;
}

.segundo
{
    background-color: greenyellow;
}

.terceiro
{
    background-color: rgb(0, 238, 255);
}

.exemplo
{
    list-style-type: none;
  
}

.bloco{
    width: 300px;
    height: 200px;
    /*
    display: inline;
    */
    display: inline-block;
    
}

.bloco:hover 
{
    background-color: chocolate;
    color: rgb(255, 255, 255);

}